<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Career Opportunity System</title>
</head>
<body>
    <h1>Welcome to the Career Opportunity System</h1>
    <p>Select a section to get started:</p>
    <ul>
        <li><a href="#">Job Postings</a></li>
        <li><a href="#">Applications</a></li>
        <li><a href="#">Employers</a></li>
        <li><a href="#">Notifications</a></li>
        <li><a href="#">Bookmarks</a></li>
    </ul>
    <a href="/login/">Login</a>
</body>
</html>